@font-face {
    font-family: Exo2SemiBoldCondensed;
    src: url(../fonts/Exo2-SemiBoldCondensed.otf);
}

@font-face {
    font-family: Exo2Regular;
    src: url(../fonts/Exo2-Regular.ttf);
}


.ngdialog-modal .ngdialog-content{
    z-index: 1000;
    position: absolute;
    opacity: 1!important;
    width: 27vw;
    height: 34.5vw;
    margin-top: 9.5vw;
    background-color: #00B6E1;
    border-radius: 20px;
    margin-left: calc(50% - 13vw);

}
.ngdialog-modal .ngdialog-content p:nth-child(1){
    margin-top: 3.2vw;
    font-family: Exo2SemiBoldCondensed;
    color:#ffffff;
    font-size: 2vw;

}

.ngdialog-modal .ngdialog-content p:nth-child(2){
    font-family: Exo2Regular;
    font-size: 1.2vw;
    color: #ffffff;
    margin-left: 9.4%;
    margin-right: 9.4%;
    line-height: 1.2vw;
}
.ngdialog-modal .ngdialog-content input{
    width: 76%;
    margin-left: 12%;
    border-radius: 36px;
    height: 4vw;
    outline: none;
    margin-top: 2vw;
    border: none;

}
input{
    padding-left:1.5vw ;
}
::-webkit-input-placeholder {margin-left: 1vw;font-size: 1vw}
::-moz-placeholder          {margin-left: 1vw;font-size: 1vw}
:-moz-placeholder           {margin-left: 1vw;font-size: 1vw}
:-ms-input-placeholder {margin-left: 1vw;font-size: 2vw}
.ngdialog-modal .ngdialog-content button{
    border: none;
    background-color: #A4E045;
    width: 76%;
    height: 4vw;
    font-size: 1.2vw;
    outline: none;
    box-shadow: 2px 1px 50px 8px #A4E045;
    border-radius: 60px;
    margin-top: 2.4vw;
    color: #ffffff;
    margin-left: 12%;}

body{
    margin: 0;
}
.row{
    margin:0!important;
}

#header{
    height:193px;
    padding-top:40px
}

#header .logoText{
    font-size: 12px;
    display: inline-block;
    line-height: 4px;
    margin-left: 3px;
    margin-top: 20px;
    vertical-align: bottom
}
#header .info{
    width: 80%;
    margin: auto;
    height: 87px;
}

#header .number{
    float: right;
}
#header .numberNum{
    font-size: 25px;
    font-weight: 600;

}

#header .logo{
    float: left;
}
#header .menu{
    width: 85%;
    margin: auto;
}

#header .menu div img{
    visibility: hidden;
}

#header .menu div:hover img{
    visibility: visible;
}
#header .menu div {
    display: inline-block;
    margin-right: 6.7%;
}
#header .menu div:nth-child(6) {
    margin-right: 0;
}

#header .menu div p{
    display: inline-block;
    font-size: 11px;
}


#block1{
    background-image: url("../images/bgScreen1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 40vw;
    background-repeat: no-repeat;

}
#block1 .accompaniment{
    font-size: 3vw;
    font-weight: 600;
    float: right;
    margin-top: 6vw;
    margin-left: 52vw;
    line-height: 57px;
    margin-right: 15vw;
    font-family: Exo2SemiBoldCondensed;
    color: #ffffff;
}

#block1 .remuneration{
    font-family: Exo2Regular;
    font-size: 1.1vw;
    float: right;
    line-height: 1.2vw;
    margin-top: 1vw;
    margin-left: 52vw;
    margin-right: 22vw;
    color: #ffffff;
}

#block1 .pros{
    float: right;
    margin-top: 2.6vw;
    margin-left: 51.5vw;
    margin-right: 14.2vw;
}
#block1 .pros img{
    display: inline-block;
    width: 3.2vw;
}
#block1 .pros p{
    color: #ffffff;
    display: inline-block;
    width: 7vw;
    font-size: 0.8vw;
    vertical-align: middle;
}
#block1 .application{
    border: none;
    background-color: #A4E045;
    width: 21vw;
    height: 4vw;
    font-size: 1.2vw;
    float: right;
    margin-right: 26vw;
    outline: none;
    box-shadow: 2px 1px 50px 8px #A4E045;
    border-radius: 60px;
    margin-top: 3.4vw;
    color: #ffffff;
    margin-left: 52vw;

}

#block1 .condition{
    color: #ffffff;
    float: right;
    margin-left: 55vw;
    margin-right: 25vw;
    font-size: 0.7vw;
    margin-top: 2vw;
    margin-bottom: 0;
}

#block2{
    height: 22vw;
    width: 100%
}

#block2 .myCustomers{
    height: 100%;
    background-color:#00B8DC ;
}
#block2 .myCustomers p{
    color: #ffffff;
    font-family: Exo2SemiBoldCondensed;
    float: right;
    font-size: 2.3vw;
    margin-right: 6vw;
    margin-left: 13vw;
    margin-top: 7.3vw;
    line-height: 3vw;
}
#block2 .grewBlock{
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    width: 10.7vw;
    height: 10.7vw;
    display: inline-block;
    outline: solid #ECECEC;
}
#block2 .whiteBlock{
    background-color: #ffffff;
    width: 10.7vw;
    height: 10.7vw;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: solid #ffffff;
}

#block2 .myCustomersLogo{
    margin: 0;
    padding: 0!important;
}

#block2 .myCustomersLogo  .logo1{
    background-image: url("../images/clogos_01_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width:6vw ;
    height: 44px;
    margin: auto;
    margin-top: 4vw;
}
#block2 .myCustomersLogo  .logo2{
    background-image: url("../images/clogos_02_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw ;
    height: 66px;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo3{
    background-image: url("../images/clogos_03_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 75px;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo4{
    background-image: url("../images/clogos_04_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo5{
    background-image: url("../images/clogos_05_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 74px;
    margin: auto;
    margin-top: 3vw;

}
#block2 .myCustomersLogo  .logo6{
    background-image: url("../images/clogos_06_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 8vw;
    margin: auto;
    margin-top: 2vw;
}
#block2 .myCustomersLogo  .logo7{
    background-image: url("../images/clogos_07_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 32px;
    margin: auto;
    margin-top: 4vw;
}
#block2 .myCustomersLogo  .logo8{
    background-image: url("../images/clogos_08_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 6vw;
    height: 48px;
    margin: auto;
    margin-top: 4vw;
}
#block2 .myCustomersLogo  .logo1:hover{
    background-image: url("../images/clogos_01.png");
    width:6vw ;
    height: 44px;
    margin: auto;
    margin-top: 4vw;
}
#block2 .myCustomersLogo  .logo2:hover{
    background-image: url("../images/clogos_02.png");
    width: 6vw ;
    height: 66px;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo3:hover{
    background-image: url("../images/clogos_03.png");
    width: 6vw;
    height: 75px;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo4:hover{
    background-image: url("../images/clogos_04.png");
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo5:hover{
    background-image: url("../images/clogos_05.png");
    width: 6vw;
    height: 74px;
    margin: auto;
    margin-top: 3vw;
}
#block2 .myCustomersLogo  .logo6:hover{
    background-image: url("../images/clogos_06.png");
    width: 6vw;
    height: 8vw;
    margin: auto;
    margin-top: 2vw;
}
#block2 .myCustomersLogo  .logo7:hover{
    background-image: url("../images/clogos_07.png");
    width:6vw ;
    height: 32px;
    margin: auto;
    margin-top: 4vw;
}
#block2 .myCustomersLogo  .logo8:hover{
    background-image: url("../images/clogos_08.png");
    width: 6vw;
    height: 48px;
    margin: auto;
    margin-top: 4vw;
}


#block3{
    background-image: url("../images/bgScreen2.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 33.5vw;
    background-repeat: no-repeat;
}

#block3 .contGreenRing{
    width: 63vw;
    margin: auto;
    padding-top: 4vw;
}

#block3 .contGreenRing div:nth-child(1){
   margin-right: 9vw;
}
#block3 .contGreenRing div:nth-child(2){
   margin-right: 9vw;
}

#block3 .greenRing{
    display: inline-block;
    background-color: rgba( 255, 0, 0, 0);
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    border: 3px solid #A4E045;
}
#block3 .textInRing{
    color: #ffffff;
    font-size: 2vw;
    margin-top: 4.5vw;
}

#block4{
    width: 100%;
    height: 52vw;
}

#block4 .centerCont{
    width: 21vw;
    margin: auto;
    margin-top: 9vw;
}

#block4 .centerCont img{
    display: inline-block;
    width: 6vw;
}

#block4 .centerCont .centerContText{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    width: 11vw;
    margin-left: 2vw;

}


#block4 .line1{
    height: 50%;
}
#block4 .line2{
    height: 50%;
}

#block4 .orders{
    background-color:#00B8DC;
    height: 100%;
}
#block4 .payment{
    background-color:#1BD5EB;
    height: 100%;
}
#block4 .conditions{
    background-color:#1BD5EB;
    height: 100%;
}
#block4 .geography{
    background-color:#00B8DC;
    height: 100%;
}

#block5{
    background-image: url("../images/bgScreen3.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 33.5vw;
    background-repeat: no-repeat;
}
#block5 p:nth-child(1){
    color: #ffffff;
    font-family: Exo2SemiBoldCondensed;
    margin: auto;
    font-size: 3vw;
    width: 50vw;
    padding-top: 9.3vw;
    line-height: 3vw;
}

#block5 p:nth-child(2){
    color: #ffffff;
    font-family: Exo2Regular;
    margin: auto;
    font-size: 1vw;
    width: 34vw;
    padding-top: 1.5vw;
    line-height: 1.3vw;
}

#block5 .application{
    border: none;
    background-color: #A4E045;
    width: 21vw;
    height: 4vw;
    font-size: 1.2vw;
    margin-left: calc(50% - 10.5vw);
    outline: none;
    box-shadow: 2px 1px 50px 8px #A4E045;
    border-radius: 60px;
    margin-top: 3.4vw;
    color: #ffffff;
    }

#block6{
    width: 100%;
    height: 21.5vw;
}
#block6 .whatInc{
    background-color:#00B8DC ;
    height: 100%;
}
#block6 .whatInc p{
    color: #ffffff;
    font-family: Exo2SemiBoldCondensed;
    float: right;
    font-size: 2.3vw;
    margin-right: 6vw;
    margin-left: 13vw;
    margin-top: 5.9vw;
    line-height: 3vw;
}
#block6 .prev{

}
#block6 .next{
    background-color:#00B8DC ;
    height: 100%;
}

#block6 .next p{
    color: #ffffff;
    font-size: 8vw;
    width: 12vw;
    margin-top: 5vw;
    font-weight: 600;
}
#block7{
    background-image: url("../images/bgScreen4.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}

#block7 p:nth-child(1){
    color: #ffffff;
    font-family: Exo2SemiBoldCondensed;
    margin: auto;
    font-size: 3vw;
    width: 50vw;
    padding-top: 9.3vw;
    line-height: 3vw;
}

#block7 p:nth-child(2){
    color: #ffffff;
    font-family: Exo2Regular;
    margin: auto;
    font-size: 1vw;
    width: 34vw;
    padding-top: 1.5vw;
    line-height: 1.3vw;
}
#block8{
    width: 100%;
    height: 36vw;
}
#block8 .selectSlide{


}
#block8 .result{
    background-color: #00B8DC;
    height: 100%;
}
#block9{
    background-image: url("../images/bgScreen5.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}

#block9 .smallGreenRing{
    border: 2px solid #9FC849 ;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: inline-block;
}
#block10{
    width: 100%;
    height: 36vw;
}
#block10 .history{
    background-color: #00B8DC;
    height: 100%;
}
#block10 .reviews{

}
#block11{
    width: 100%;
    height: 36vw;
}
#block12{
    width: 100%;
    height: 36vw;
    background-color: #00B6E1;
}

#block12 .map{
    height: 100%;
    background-image: url("../images/map.jpg");
    width: 943px;
    background-size: 100%;

}
#footer{
    height:193px;
    padding-top:40px
}

#footer .logoText{
    font-size: 12px;
    display: inline-block;
    line-height: 4px;
    margin-left: 3px;
    margin-top: 20px;
    vertical-align: bottom
}
#footer .info{
    width: 80%;
    margin: auto;
    height: 87px;
}

#footer .number{
    float: right;
}
#footer .numberNum{
    font-size: 25px;
    font-weight: 600;

}

#footer .logo{
    float: left;
}
