body{
    margin: 0;
}
.row{
    margin:0!important;
}

#header{
    height:193px;
    padding-top:40px
}

#header .logoText{
    font-size: 12px;
    display: inline-block;
    line-height: 4px;
    margin-left: 3px;
    margin-top: 20px;
    vertical-align: bottom
}
#header .info{
    width: 80%;
    margin: auto;
    height: 87px;
}

#header .number{
    float: right;
}
#header .numberNum{
    font-size: 25px;
    font-weight: 600;

}

#header .logo{
    float: left;
}
#header .menu{
    width: 85%;
    margin: auto;
}

#header .menu div img{
    display: inline-block;
}
#header .menu div {
    display: inline-block;
    margin-right: 6.7%;
}
#header .menu div:nth-child(6) {
    margin-right: 0;
}

#header .menu div p{
    display: inline-block;
    font-size: 11px;
}


#block1{
    background-image: url("../images/bgScreen1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;

}

#block2{
    height: 22vw;
    width: 100%
}
#block2 .myCustomers{
    height: 100%;
    background-color:#00B8DC ;
}
#block2 .myCustomers p{
    font-size: 30px;
    color:#ffffff;
    margin: 0;
}
#block2 .myCustomersLogo .clientLogo {
    display: table;
    height: 50%;
    width: 100%;

}
#block2 .myCustomersLogo .clientLogo div{
    display: table-cell;
    vertical-align: middle;


}

#block2 .myCustomersLogo  .logo1{
    background-image: url("../images/clogos_01_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width:99px ;
    height: 44px;
}
#block2 .myCustomersLogo  .logo2{
    background-image: url("../images/clogos_02_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 103px ;
    height: 66px;
}
#block2 .myCustomersLogo  .logo3{
    background-image: url("../images/clogos_03_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 130px;
    height: 75px;
}
#block2 .myCustomersLogo  .logo4{
    background-image: url("../images/clogos_04_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 103px;
    height: 71px;
}
#block2 .myCustomersLogo  .logo5{
    background-image: url("../images/clogos_05_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 120px;
    height: 74px;
}
#block2 .myCustomersLogo  .logo6{
    background-image: url("../images/clogos_06_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 81px;
    height: 106px;
}
#block2 .myCustomersLogo  .logo7{
    background-image: url("../images/clogos_07_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 134px;
    height: 32px;
}
#block2 .myCustomersLogo  .logo8{
    background-image: url("../images/clogos_08_bw.png");
    background-repeat:no-repeat ;
    background-size: 100%;
    width: 128px;
    height: 48px;
}
#block2 .myCustomersLogo  .logo1:hover{
    background-image: url("../images/clogos_01.png");
    width:99px ;
    height: 44px;
}
#block2 .myCustomersLogo  .logo2:hover{
    background-image: url("../images/clogos_02.png");
    width: 103px ;
    height: 66px;
}
#block2 .myCustomersLogo  .logo3:hover{
    background-image: url("../images/clogos_03.png");
    width: 130px;
    height: 75px;
}
#block2 .myCustomersLogo  .logo4:hover{
    background-image: url("../images/clogos_04.png");
    width: 103px;
    height: 71px;
}
#block2 .myCustomersLogo  .logo5:hover{
    background-image: url("../images/clogos_05.png");
    width: 120px;
    height: 74px;
}
#block2 .myCustomersLogo  .logo6:hover{
    background-image: url("../images/clogos_06.png");
    width: 81px;
    height: 106px;
}
#block2 .myCustomersLogo  .logo7:hover{
    background-image: url("../images/clogos_07.png");
    width: 134px;
    height: 32px;
}
#block2 .myCustomersLogo  .logo8:hover{
    background-image: url("../images/clogos_08.png");
    width: 128px;
    height: 48px;
}

#block3{
    background-image: url("../images/bgScreen2.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}

#block4{
    width: 100%;
    height: 40vw;
}

#block4 .line1{
    height: 50%;
}
#block4 .line2{
    height: 50%;
}

#block4 .orders{
    background-color:#00B8DC;
    height: 100%;
}
#block4 .payment{
    background-color:#1BD5EB;
    height: 100%;
}
#block4 .conditions{
    background-color:#1BD5EB;
    height: 100%;
}
#block4 .geography{
    background-color:#00B8DC;
    height: 100%;
}

#block5{
    background-image: url("../images/bgScreen3.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}
#block6{
    width: 100%;
    height: 36vw;
}
#block6 .whatInc{
    background-color:#00B8DC ;
    height: 100%;
}
#block6 .prev{

}
#block6 .next{
    background-color:#00B8DC ;
    height: 100%;
}
#block7{
    background-image: url("../images/bgScreen4.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}
#block8{
    width: 100%;
    height: 36vw;
}
#block8 .selectSlide{


}
#block8 .result{
    background-color: #00B8DC;
    height: 100%;
}
#block9{
    background-image: url("../images/bgScreen5.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
}
#block10{
    width: 100%;
    height: 36vw;
}
#block10 .history{
    background-color: #00B8DC;
    height: 100%;
}
#block10 .reviews{

}
#block11{}
#block12{}
#footer{}