<div id="header" >
     <div class="info">
         <div class="logo">
            <div style="display: inline-block">
                <img src="../images/logo.jpg" >
            </div>

            <div class="logoText">
                  <p>Сопровождение тендеров</p>
                  <p>с оплатой за выигрыш</p>
            </div>
         </div>
          <div class="number">
              <p class="numberNum">8 (800) 505-10-42</p>
              <a style="font-size:10px" ng-click="clickToOpen()">бесплатная консультация</a>
          </div>
    </div>
    <div class="menu" >

        <div >
            <img src="../images/select.png">
            <p align="center">ГЛАВНАЯ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center" >ПРЕИМУЩЕСТВА УЧАСТИЯ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">ЧТО ВКЛЮЧАЕТ СОПРОВОЖДЕНИЕ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">ТАРИФЫ</p>
        </div>
        <div>
            <img src="../images/select.png">
            <p align="center">ИСТОРИЯ УСПЕХА</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">НАША ГЕОГРАФИЯ</p>
        </div>
    </div>
</div>
<div class="blocks">
    <div id="block1" class="block1">
        <p class="accompaniment" >Сопровождение тендеров
            с оплатой за выигрыш</p>
        <p class="remuneration" >По предоплатной системе с вознаграждением
            от <span style="color: #9BD341">0,5% до 2%</span> суммы выигранного контракта</p>
        <div class="pros">
            <img src="../images/100%25.png">
            <p>Гарантия допуска
                к участию в торгах</p>
            <img src="../images/30min.png">
            <p>Срочная подготовка
                заявки</p>
            <img src="../images/map.png">
            <p>Работаем
                по всей России</p>
        </div>
        <button class="application" ng-click="clickToOpen()">Оставить заявку</button>

        <p class="condition">*Оставьте заявку до 30 июня 2016 и получите
                электронную подпсиь со скидкой 10%</p>

    </div>
    <div id="block2" >
        <div class="myCustomers">
            <p >Наши
            заказчики</p>
        </div>

        <div class="myCustomersLogo">
            <div class=" clientLogo" style="margin-top:3px" >
                <div class="whiteBlock"><div class="logo1 "></div> </div>
                <div class="grewBlock"><div class="logo2 "></div> </div>
                <div class="whiteBlock"><div class="logo3 "></div> </div>
                <div class="grewBlock"><div class="logo4 "></div> </div>
            </div>
            <img src="../images/ringArrow.png" class="ringArrow">
            <div class="clientLogo">
                <div class="grewBlock"> <div class="logo5"></div>  </div>
                <div class="whiteBlock"> <div class="logo6"></div>  </div>
                <div class="grewBlock"> <div class="logo7"></div>  </div>
                <div class="whiteBlock"> <div class="logo8"></div>  </div>
            </div>
        </div>
    </div>
    <div id="block3" >
        <a  name="top" ></a>
        <p class="title">Преимущества участия в закупках</p>
        <div class="contGreenRing">
            <div class="greenRing"><p align="center" class="textInRing">330 000+</p></div>
            <div class="greenRing"><p align="center" class="textInRing">230 трлн.р</p></div>
            <div class="greenRing"><p align="center" class="textInRing">7%</p></div>
            <p class="subTitle" align="center">Количество
                заказчиков</p>
            <p class="subTitle" align="center">Объем закупок
                в 2016г.</p>
            <p class="subTitleLast" align="center">Средние снижение
                на торгах</p>
        </div>
    </div>
    <div id="block4">
        <div class="line1 row">
            <div class="orders col-lg-6 col-xs-6 col-md-6">
                <div class="centerCont">
                    <img src="../images/book.png">
                    <div class="centerContText">
                        <p class="subTitle">Готовые
                            заказы</p>
                        <p>Заказы уже размещены,
                            не нужно тратиться
                            на рекламу и искать
                            клиентов</p>
                    </div>
                 </div>
            </div>
            <div class="payment col-lg-6 col-xs-6 col-md-6">
                <div class="centerCont">
                    <img src="../images/rub.png">
                    <div class="centerContText">
                        <p class="subTitle">Гарантия
                            оплаты</p>
                        <p>Заказчики - организации
                            с государсвтенным
                            участием, что гарантирует
                            оплату по договору в срок</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2 row">
            <div class="geography col-lg-6 col-xs-6 col-md-6">
                <div class="centerCont">
                    <img src="../images/glob.png">
                    <div class="centerContText">
                        <p class="subTitle">Широкая
                            география</p>
                        <p>Возможность участия
                            в тендерах по всей стране.
                            Подача заявки и подписание
                            контракта осуществляется
                            в электронном виде</p>
                    </div>
                </div>

            </div>
            <div class=" conditions col-lg-6 col-xs-6 col-md-6">
                <div class="centerCont">
                    <img src="../images/hammer.png">
                    <div class="centerContText">
                        <p class="subTitle">Равные
                            условия</p>
                        <p>Любая российская компания
                            или ИП имеет право
                            участвовать в тограх
                            на равных условия</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block5">
        <p class="title">Оцените свои шансы на победу в тендере</p>
        <p align="center" class="subTitle">Мы бесплатно проанализируем информацию об отыгранных тендерах
            по Вашей тематике за последние полгода</p>
        <button class="application" ng-click="clickToOpen()">Оценить шансы</button>
    </div>
    <div id="block6" class="row">
            <div class="whatInc">
                <p>Что включает
                    сопровождение
                    тендеров?</p>
            </div>
            <div class="prev">
               <p>01</p>
                <p>Аккредитация на всех необходимых электронных торговых площадках</p>
                <div class="prev01">
                    <img src="../images/sb.png">
                    <p>Сбербанк-АСТ</p>
                    <img src="../images/eetp.png">
                    <p>ЕЭТП</p>
                    <img src="../images/rtc.png">
                    <p>РТС</p>
                </div>
                <div>
                    <img src="../images/infinSmall.png">
                    <p>ММВБ</p>
                    <img src="../images/oet.png">
                    <p>ЗаказыРФ</p>
                </div>
            </div>
            <div class="next">
                <p>02</p>
            </div>
    </div>
    <div id="block7">
        <p class="title">Сопровождение в <span style="color: #A4E045">1</span> тендере от <span style="color: #A4E045">3000 р</span></p>
        <p class="subTitle" align="center">Рассчитайте стоимость сопровождения интересующего
            Вас тендера</p>

        <div class="row">


                <div class="input-group" style="width: 428px;margin: auto;margin-top: 44px;">
                    <input type="text" class="form-control"  placeholder="Номер тендера или ссылка" style="    height: 56px;
        border-bottom-left-radius: 36px; border-top-left-radius:36px">
                    <span class="input-group-btn">
                        <button class="btn btn-default check" type="button" ng-click="clickToOpen()">Рассчтать</button>
                    </span>
                </div>

        </div>
    </div>
    <div id="block8" class="row">

        <div class="selectSlide col-lg-6 col-xs-6 col-md-6">
            <p class="title" align="left">Выберите свой период обслуживания</p>
            <p class="subTitle" align="left">Мы заинтересованы в Вашей победе не меньше, чем Вы сами, ведь оплачиваются только выигранные тендеры!</p>
            <rzslider rz-slider-model="slider.value"
                      rz-slider-options="slider.options"></rzslider>
        </div>
        <div class="result col-lg-6 col-xs-6 col-md-6">
            <div  class="resultRing">
                <p align="center" class="total">Итого:</p>
                <p  class="resultNumber" align="center">70 000 р</p>
                <p align="center" style="color: #ffffff;
    font-size: 16px;margin-bottom: 0"><span style="color: #A4E045">-</span> от <span style="color: #A4E045">0,5%</span> до <span style="color: #A4E045">2%</span> суммы выигранного контракта*</p>
                <p align="center"  style="font-size: 9px;
    width: 153px;
    margin-left: 11px;
    color: white;">*из депозита списываются проценты за победу</p>
            </div>
            <button class="application" ng-click="clickToOpen()"> Заказать сопровождение</button>
        </div>
    </div>
    <div id="block9">
        <p style="    padding-top: 43px;
    font-size: 34px;
    font-weight: 600;
    color: white;
    margin-left: calc(50% - 247px);
    font-family: Exo2SemiBoldCondensed;
    width: 493px;" align="center">Наши преимушества</p>
        <div style="width:685px;margin: auto ">
            <img src="../images/infin.png" class="inf">
            <img src="../images/text.png" class="num">
            <img src="../images/smallBook.png" class="book">
        </div>
        <div class="text1row">
            <p>Сопровождение в неограниченном <br>кол-ве тендеров</p>
            <p>Участие как в государственных (44-ФЗ),<br>так и в коммерческих (223-ФЗ) торгах</p>
            <p>Подготовка заявки в полном объеме, включал техническую часть</p>
        </div>

        <div style="width:395px;margin: auto;margin-top: -30px ">
            <img src="../images/check.png" class="check">
            <img src="../images/find.png" class="find">
        </div>
        <div class="text2row">
            <p>Выборка тендеров вручную: получайте заказы, соответствующие Вашим критериям</p>
            <p>Анализ документации и проверка репутации Заказчика</p>
        </div>
    </div>
    <div id="block10" class="row">
        <div class="history col-lg-6 col-xs-6 col-md-6">
            <p class="title">Истории успеха наших клиентов</p>
            <div class="info">
                <div class="row1">
                    <p>Участие в тендерах</p>
                    <p>Выиграно тендеров</p>
                </div>
                <div class="row2">
                    <p>46</p>
                    <p>31</p>
                </div>
                <div class="row3">
                    <p>Сумма контрактов(р)</p>
                    <p>Регион участия</p>
                </div>
                <div class="row4">
                    <p>< 8 млн.</p>
                    <p>Краснодар</p>
                </div>
            </div>
        </div>
        <div class="reviews col-lg-6 col-xs-6 col-md-6">
            <img src="../images/arrowNext.png" style="    position: absolute;
    margin-left: 387px;
    margin-top: 213px;
    width: 70px">
            <div class="avatar">
                <img src="../images/Andrew.png">
            </div>
            <p class="name">Алексей Милованов</p>
            <p class="work">придпринематель, ООО "Алюнест" тел. 8(918) 450 47 96</p>
            <p class="title">Решили искать новые рынки получения заказов </p>
            <p class="text">Заключили договор с «Си тендер» начали работу. Теперь выигрываем торги и получаем новые заказы. Всю работу за тебя делает компания, нам нужно только дать цену, это экономит на сотрудниках и экономит свое время. Оплата только за выигранные тендеры, т. е. выиграл – заплатил, не выиграл – не заплатил )) а по факту получается, что за подготовку тендера платит сам заказчик, так как мы закладываем услуги «Си тендер» в цену контракта))</p>
        </div>
    </div>
    <div id="block11">
        <div style="height: 305px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block12">
        <div class="map" style="display: inline-block"></div>
        <div style="display: inline-block;vertical-align: top">
            <p class="title">Наша география</p>
            <p class="subTitle">Мы успешно обслуживаем</p>
            <div style="margin-left: 7px;">
                <div class="greenRing"><p>200<sup>+</sup></p></div>
                <div class="greenRing"><p>36</p></div>
                <div class="greenRing"><p>10</p></div>
            </div>
            <div class="greenRingText">
                <p>Копаний из</p>
                <p>городов и населенных пунктов в</p>
                <p>регионах России</p>
            </div>
            <div class="procent">
                <p>92%</p>
                <p>из них - наши постоянные клиенты</p>
            </div>
            <button class="application" ng-click="clickToOpen()">Присоединиться</button>
        </div>
    </div>
</div>
<div id="footer">
    <div class="info">
        <div class="logo">
            <div style="display: inline-block">
                <img src="../images/logo.jpg" >
            </div>

            <div class="logoText">
                <p>Сопровождение тендеров</p>
                <p>с оплатой за выигрыш</p>
            </div>
        </div>
        <div class="number">
            <p class="numberNum">8 (800) 505-10-42</p>
            <a style="font-size:10px" ng-click="clickToOpen()">бесплатная консультация</a>
        </div>
    </div>
</div>