<div id="header" >
     <div class="info">
         <div class="logo">
            <div style="display: inline-block">
                <img src="../images/logo.jpg" >
            </div>

            <div class="logoText">
                  <p>Сопровождение тендеров</p>
                  <p>с оплатой за выигрыш</p>
            </div>
         </div>
          <div class="number">
              <p class="numberNum">8 (800) 505-10-42</p>
              <a style="font-size:10px">бесплатная консультация</a>
          </div>
    </div>
    <div class="menu" >

        <div >
            <img src="../images/select.png">
            <p align="center">ГЛАВНАЯ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">ПРЕИМУЩЕСТВА УЧАСТИЯ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">ЧТО ВКЛЮЧАЕТ СОПРОВОЖДЕНИЕ</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">ТАРИФЫ</p>
        </div>
        <div>
            <img src="../images/select.png">
            <p align="center">ИСТОРИЯ УСПЕХА</p>
        </div>
        <div >
            <img src="../images/select.png">
            <p align="center">НАША ГЕОГРАФИЯ</p>
        </div>
    </div>
</div>
<div id="block1" class="block1">
    <p style="font-size: 30px;font-weight: 600;float: right;margin-right: 30vw">Сопровождение тендеров
        с оплатой за выигрыш</p>
    <p>По предоплатной системе с вознаграждением
        от 0,5% до 2% суммы выигранного контракта</p>
    <img src="../images/100%25.png">
    <p>Гарантия допуска
        к участию в торгах</p>
    <img src="../images/30min.png">
    <p>Срочная подготовка
        заявки</p>
    <img src="../images/map.png">
    <p>Работаем
        по всей России</p>
    <img src="../images/buttonGreen.png">

    <p>Оставьте заявку до 30 июня 2016 и получите
        электронную подпсиь со скидкой 10%</p>
</div>
<div id="block2" class="row">
    <div class="myCustomers col-lg-4 col-xs-4 col-md-4">
        <p>Наши</p>
        <p>Заказчики</p>
    </div>

    <div class="myCustomersLogo col-lg-8 col-xs-8 col-md-8">
        <div class="row clientLogo" >
            <div class="col-lg-3 col-xs-3 col-md-3"><div class="logo1 "></div> </div>
            <div class="col-lg-3 col-xs-3 col-md-3"><div class="logo2 "></div> </div>
            <div class="col-lg-3 col-xs-3 col-md-3"><div class="logo3 "></div> </div>
            <div class="col-lg-3 col-xs-3 col-md-3"><div class="logo4 "></div> </div>
        </div>
        <div class="row clientLogo">
            <div class="col-lg-3 col-xs-3 col-md-3"> <div class="logo5"></div>  </div>
            <div class="col-lg-3 col-xs-3 col-md-3"> <div class="logo6"></div>  </div>
            <div class="col-lg-3 col-xs-3 col-md-3"> <div class="logo7"></div>  </div>
            <div class="col-lg-3 col-xs-3 col-md-3"> <div class="logo8"></div>  </div>
        </div>
    </div>
</div>
<div id="block3">
    <p style="font-size: 30px;font-weight: 600;float: right;margin-right: 30vw">Преимущества участия в закупках</p>
    <img src="../images/Shape.png">
    <p>Количество
        заказчиков</p>
    <img src="../images/Shape.png">
    <p>Объем закупок
        в 2016г.</p>
    <img src="../images/Shape.png">
    <p>Средние снижение
        на торгах</p>
</div>
<div id="block4">
    <div class="line1 row">
        <div class="orders col-lg-6 col-xs-6 col-md-6">
            <img src="../images/book.png">
            <p>Готовые
                заказы</p>
            <p>Заказы уже размещены,
                не нужно тратиться
                на рекламу и искать
                клиентов</p>
        </div>
        <div class="payment col-lg-6 col-xs-6 col-md-6">
            <img src="../images/rub.png">
            <p>Гарантия
                оплаты</p>
            <p>Заказчики - организации
                с государсвтенным
                участием, что гарантирует
                оплату по договору в срок</p>
        </div>
    </div>
    <div class="line2 row">
        <div class="conditions col-lg-6 col-xs-6 col-md-6">
            <img src="../images/glob.png">
            <p>Широкая
                география</p>
            <p>Возможность участия
                в тендерах по всей стране.
                Подача заявки и подписание
                контракта осуществляется
                в электронном виде</p>

        </div>
        <div class="geography col-lg-6 col-xs-6 col-md-6">
            <img src="../images/hammer.png">
            <p>Равные
                условия</p>
            <p>Любая российская компания
                или ИП имеет право
                участвовать в тограх
                на равных условия</p>
        </div>
    </div>
</div>
<div id="block5">
    <p>Оцените свои шансы на победу в тендере</p>
    <p>Мы бесплатно проанализируем информацию об отыгранных тендерах
        по Вашей тематике за последние полгода</p>
    <img src="../images/buttonGreen.png">
</div>
<div id="block6" class="row">
        <div class="whatInc col-lg-4 col-xs-4 col-md-4">
            <p>Что включает
                сопровождение
                тендеров?</p>
        </div>
        <div class="prev col-lg-5 col-xs-5 col-md-5">

        </div>
        <div class="next col-lg-3 col-xs-3 col-md-3"></div>
</div>
<div id="block7"></div>
<div id="block8" class="row">
    <div class="selectSlide col-lg-6 col-xs-6 col-md-6">
        <rzslider rz-slider-model="slider.minValue"
                  rz-slider-high="slider.maxValue"
                  rz-slider-options="slider.options"></rzslider>
    </div>
    <div class="result col-lg-6 col-xs-6 col-md-6"></div>
</div>
<div id="block9"></div>
<div id="block10" class="row">
    <div class="history col-lg-6 col-xs-6 col-md-6"></div>
    <div class="reviews col-lg-6 col-xs-6 col-md-6"></div>
</div>
<div id="block11"></div>
<div id="block12"></div>
<div id="footer"></div>