<div class="scale">
    <div id="header" >
         <div class="info">
             <div class="logo">
                <div style="display: inline-block">
                    <img src="../images/logo.jpg" >
                </div>

                <div class="logoText">
                      <p>Сопровождение тендеров</p>
                      <p>с оплатой за выигрыш</p>
                </div>
             </div>
              <div class="number">
                  <p class="numberNum">8 (800) 505-10-42</p>
                  <a style="font-size:10px" ng-click="clickToOpen()">бесплатная консультация</a>
              </div>
        </div>
        <div class="menu" >

            <div >
                <img src="../images/select.png">
                <p align="center">ГЛАВНАЯ</p>
            </div>
            <div >
                <img src="../images/select.png">
                <p align="center" >ПРЕИМУЩЕСТВА УЧАСТИЯ</p>
            </div>
            <div >
                <img src="../images/select.png">
                <p align="center">ЧТО ВКЛЮЧАЕТ СОПРОВОЖДЕНИЕ</p>
            </div>
            <div >
                <img src="../images/select.png">
                <p align="center">ТАРИФЫ</p>
            </div>
            <div>
                <img src="../images/select.png">
                <p align="center">ИСТОРИЯ УСПЕХА</p>
            </div>
            <div >
                <img src="../images/select.png">
                <p align="center">НАША ГЕОГРАФИЯ</p>
            </div>
        </div>
    </div>
    <div class="blocks">
        <div id="block1" class="block1">
            <p class="accompaniment" >Сопровождение тендеров
                с оплатой за выигрыш</p>
            <p class="remuneration" >По предоплатной системе с вознаграждением
                от <span style="color: #9BD341">0,5% до 2%</span> суммы выигранного контракта</p>
            <div class="pros">
                <img src="../images/100%25.png">
                <p>Гарантия допуска
                    к участию в торгах</p>
                <img src="../images/30min.png">
                <p>Срочная подготовка
                    заявки</p>
                <img src="../images/map.png">
                <p>Работаем
                    по всей России</p>
            </div>
            <button class="application" ng-click="clickToOpen()">Оставить заявку</button>

            <p class="condition">*Оставьте заявку до 30 июня 2016 и получите
                    электронную подпсиь со скидкой 10%</p>

        </div>
        <div id="block2" >
            <div class="myCustomers">
                <p >Наши
                заказчики</p>
            </div>

            <div class="myCustomersLogo">
                <div class=" clientLogo" style="margin-top:3px" >
                    <div class="whiteBlock"><div class="logo1 "></div> </div>
                    <div class="grewBlock"><div class="logo2 "></div> </div>
                    <div class="whiteBlock"><div class="logo3 "></div> </div>
                    <div class="grewBlock"><div class="logo4 "></div> </div>
                </div>
                <img src="../images/ringArrow.png" class="ringArrow">
                <div class="clientLogo">
                    <div class="grewBlock"> <div class="logo5"></div>  </div>
                    <div class="whiteBlock"> <div class="logo6"></div>  </div>
                    <div class="grewBlock"> <div class="logo7"></div>  </div>
                    <div class="whiteBlock"> <div class="logo8"></div>  </div>
                </div>
            </div>
        </div>
        <div id="block3" >
            <a  name="top" ></a>
            <p class="title">Преимущества участия в закупках</p>
            <div class="contGreenRing">
                <div class="greenRing"><p align="center" class="textInRing">330 000+</p></div>
                <div class="greenRing"><p align="center" class="textInRing">23 трлн.р</p></div>
                <div class="greenRing"><p align="center" class="textInRing">7%</p></div>
                <p class="subTitle" align="center">Количество
                    заказчиков</p>
                <p class="subTitle" align="center">Объем закупок
                    в 2016г.</p>
                <p class="subTitleLast" align="center">Средние снижение
                    на торгах</p>
            </div>
        </div>
        <div id="block4">
            <div class="line1 row">
                <div class="orders col-lg-6 col-xs-6 col-md-6">
                    <div class="centerCont">
                        <img src="../images/book.png">
                        <div class="centerContText">
                            <p class="subTitle">Готовые
                                заказы</p>
                            <p>Заказы уже размещены,
                                не нужно тратиться
                                на рекламу и искать
                                клиентов</p>
                        </div>
                     </div>
                </div>
                <div class="payment col-lg-6 col-xs-6 col-md-6">
                    <div class="centerCont">
                        <img src="../images/rub.png">
                        <div class="centerContText">
                            <p class="subTitle">Гарантия
                                оплаты</p>
                            <p>Заказчики - организации
                                с государсвтенным
                                участием, что гарантирует
                                оплату по договору в срок</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line2 row">
                <div class="geography col-lg-6 col-xs-6 col-md-6">
                    <div class="centerCont">
                        <img src="../images/glob.png">
                        <div class="centerContText">
                            <p class="subTitle">Широкая
                                география</p>
                            <p>Возможность участия
                                в тендерах по всей стране.
                                Подача заявки и подписание
                                контракта осуществляется
                                в электронном виде</p>
                        </div>
                    </div>

                </div>
                <div class=" conditions col-lg-6 col-xs-6 col-md-6">
                    <div class="centerCont">
                        <img src="../images/hammer.png">
                        <div class="centerContText">
                            <p class="subTitle">Равные
                                условия</p>
                            <p>Любая российская компания
                                или ИП имеет право
                                участвовать в тограх
                                на равных условия</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block5">
            <p class="title">Оцените свои шансы на победу в тендере</p>
            <p align="center" class="subTitle">Мы бесплатно проанализируем информацию об отыгранных тендерах
                по Вашей тематике за последние полгода</p>
            <button class="application" ng-click="clickToOpen()">Оценить шансы</button>
        </div>
        <div id="block6" class="row">
                <div class="whatInc">
                    <p>Что включает
                        сопровождение
                        тендеров?</p>
                </div>
                <div class="prev">
                    <div id="carousel_0" class="carousel slide" data-interval="false" >

                        <div class="carousel-inner" role="listbox" style="margin-top: 0">
                                    <div class="item active">
                                        <div class="steps" >
                                            <p  class="title">01</p>
                                            <p  class="subTitle">Аккредитация на всех необходимых электронных торговых площадках</p>
                                            <div class="prev01_row1">
                                                <img src="../images/sb.png" style="display: inline-block">
                                                <p style="display: inline-block">Сбербанк-АСТ</p>
                                                <img src="../images/eetp.png" style="display: inline-block">
                                                <p style="display: inline-block">ЕЭТП</p>
                                                <img src="../images/rtc.png" style="display: inline-block">
                                                <p style="display: inline-block">РТС</p>
                                            </div>
                                            <div>
                                                <img src="../images/infinSmall.png" style="display: inline-block">
                                                <p style="display: inline-block">ММВБ</p>
                                                <img src="../images/oet.png" style="display: inline-block">
                                                <p style="display: inline-block">ЗаказыРФ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                           <p  class="title">02</p>
                                           <p class="subTitle">Ежедневная рассылка «свежих» тендеров по Вашей тематике</p>
                                           <p> Выборка тендеров производится вручную, поэтому Вы будете получать только те тендеры, которые полностью соответствуют Вашим критериям.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">03</p>
                                            <p class="subTitle">Подача запросов на разъяснение положений документации</p>
                                            <p>Если по тендеру возникают вопросы, отправляем Заказчику запрос на разъяснение. В течение 2-х дней Заказчик обязан дать ответ.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">04</p>
                                            <p class="subTitle">Анализ тендерной докуметации</p>
                                            <p> Обращаем Ваше внимание на ключевые моменты тендерной документации. Проверяем тендер на наличие коррупционной составляющей.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">05</p>
                                            <p class="subTitle">Проверка репутации Заказчика</p>
                                            <p>Анализируем историю проведения закупок Заказчиком: причины отклонения заявок, процент снижения на аукционах, с какими компаниями были заключены контракты и т. д.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">06</p>
                                            <p class="subTitle">Подготовка заявки на участие в торгах</p>
                                            <p>Готовим заявку в полном объёме, включая техническую часть.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">07</p>
                                            <p class="subTitle">Участие в торгах</p>
                                            <p>Отыгрываем аукцион в соответствии с рассчитанным заранее минимальным ценовым порогом.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">08</p>
                                            <p class="subTitle">Подача жалобы в ФАС</p>
                                            <p> В случае неправомерных действий со стороны Заказчика, подаём жалобу в Федеральную Антимонопольную Службу (ФАС).</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">09</p>
                                            <p class="subTitle">Оформление банковских гарантий и тендерных кредитов</p>
                                            <p>Помогаем получить банковские гарантии и тендерные кредиты для обеспечения заявок и обеспечения исполнения контрактов на самых выгодных условиях.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="steps">
                                            <p  class="title">10</p>
                                            <p class="subTitle">Подписание контракта с Заказчиком</p>
                                            <p>Подписываем контракт с Заказчиком в электронном виде на электронной торговой площадке, после чего можно приступать к выполнению работ!</p>
                                        </div>
                                    </div>

                                    </div>


                                </div>



                            </div>

                            <a  href="#carousel_0" role="button" data-slide="prev" ng-click="stepsPrev()">
                                <span  aria-hidden="true"><img src="../images/arrowNext.png" style="    opacity: 1;
        position: absolute;
        margin-top: 102px;
        margin-left: -484px;
        transform: rotate(180deg);
        width: 70px;"></span>

                            </a>
                            <a href="#carousel_0" role="button" data-slide="next" ng-click="stepsNext()">
                            <span ><img src="../images/arrowNext.png" style="    margin-top: 127px;
        margin-left: -34px;
        opacity: 1;
        position: absolute;
        width: 70px;"></span>
                            </a>

                <div class="nextInfo">
                    <p ng-if="stepIndex!==10">0{{stepIndex}}</p>
                    <p ng-if="stepIndex==10">{{stepIndex}}</p>
                </div>
        </div>
        <div id="block7">
            <p class="title">Сопровождение в <span style="color: #A4E045">1</span> тендере от <span style="color: #A4E045">3000 р</span></p>
            <p class="subTitle" align="center">Рассчитайте стоимость сопровождения интересующего
                Вас тендера</p>

            <div class="row">


                    <div class="input-group" style="width: 428px;margin: auto;margin-top: 44px;">
                        <input type="text" class="form-control"  placeholder="Номер тендера или ссылка" style="    height: 56px;
            border-bottom-left-radius: 36px; border-top-left-radius:36px">
                        <span class="input-group-btn">
                            <button class="btn btn-default check" type="button" ng-click="clickToOpen()">Рассчтать</button>
                        </span>
                    </div>

            </div>
        </div>
        <div id="block8" class="row">

            <div class="selectSlide col-lg-6 col-xs-6 col-md-6">
                <p class="title" align="left">Выберите свой период обслуживания</p>
                <p class="subTitle" align="left">Мы заинтересованы в Вашей победе не меньше, чем Вы сами, ведь оплачиваются только выигранные тендеры!</p>
                <p class="month">кол-во месяцов</p>
                <div class="infoSlider"  ng-if="slider.value==6">70 000 р</div>
                <div class="infoSlider" style="margin-left: 144px" ng-if="slider.value==8">80 000 р</div>
                <div class="infoSlider" style="margin-left: 188px" ng-if="slider.value==10">90 000 р</div>
                <div class="infoSlider" style="margin-left: 232px" ng-if="slider.value==12">100 000 р</div>
                <div class="infoSlider" style="margin-left: 320px" ng-if="slider.value==14">110 000 р</div>
                <div class="infoSlider" style="margin-left: 364px" ng-if="slider.value==16">120 000 р</div>
                <div class="infoSlider" style="margin-left: 408px" ng-if="slider.value==18">130 000 р</div>
                <div class="infoSlider" style="margin-left: 454px" ng-if="slider.value==20">140 000 р</div>
                <div class="infoSlider" style="margin-left: 498px" ng-if="slider.value==22">150 000 р</div>
                <div class="infoSlider" style="margin-left: 542px" ng-if="slider.value==24">160 000 р</div>
                <rzslider rz-slider-model="slider.value"
                          rz-slider-options="slider.options"></rzslider>
            </div>
            <div class="result col-lg-6 col-xs-6 col-md-6">
                <div  class="resultRing">
                    <p align="center" class="total">Итого:</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==6">70 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==8">80 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==10">90 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==12">100 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==14">110 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==16">120 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==18">130 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==20">140 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==22">150 000 р</p>
                    <p  class="resultNumber" align="center" ng-if="slider.value==24">160 000 р</p>
                    <p align="center" style="color: #ffffff;
        font-size: 16px;margin-bottom: 0"><span style="color: #A4E045">-</span> от <span style="color: #A4E045">0,5%</span> до <span style="color: #A4E045">2%</span> суммы выигранного контракта*</p>
                    <p align="center"  style="font-size: 9px;
        width: 153px;
        margin-left: 11px;
        color: white;">*из депозита списываются проценты за победу</p>
                </div>
                <button class="application" ng-click="clickToOpen()"> Заказать сопровождение</button>
            </div>
        </div>
        <div id="block9">
            <p style="    padding-top: 43px;
        font-size: 34px;
        font-weight: 600;
        color: white;
        margin-left: calc(50% - 247px);
        font-family: Exo2SemiBoldCondensed;
        width: 493px;" align="center">Наши преимушества</p>
            <div style="width:685px;margin: auto ">
                <img src="../images/infin.png" class="inf">
                <img src="../images/text.png" class="num">
                <img src="../images/smallBook.png" class="book">
            </div>
            <div class="text1row">
                <p>Сопровождение в неограниченном <br>кол-ве тендеров</p>
                <p>Участие как в государственных (44-ФЗ),<br>так и в коммерческих (223-ФЗ) торгах</p>
                <p>Подготовка заявки в полном объеме, включал техническую часть</p>
            </div>

            <div style="width:395px;margin: auto;margin-top: -30px">
                <img src="../images/check.png" class="check">
                <img src="../images/find.png" class="find">
            </div>
            <div class="text2row">
                <p>Выборка тендеров вручную: получайте заказы, соответствующие Вашим критериям</p>
                <p>Анализ документации и проверка репутации Заказчика</p>
            </div>
        </div>
        <div id="block10" class="row">
            <div class="history col-lg-6 col-xs-6 col-md-6">
                <p class="title">Истории успеха наших клиентов</p>
                <div class="info">
                    <div class="row1">
                        <p>Участие в тендерах</p>
                        <p>Выиграно тендеров</p>
                    </div>
                    <div class="row2">
                        <p>46</p>
                        <p>31</p>
                    </div>
                    <div class="row3">
                        <p>Сумма контрактов(р)</p>
                        <p>Регион участия</p>
                    </div>
                    <div class="row4">
                        <p>< 8 млн.</p>
                        <p>Краснодар</p>
                    </div>
                </div>
            </div>
            <div class="reviews col-lg-6 col-xs-6 col-md-6">
                <div id="carousel_1" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="avatar">
                                <img src="../images/Andrew.png">
                            </div>
                            <p class="name">Алексей Милованов</p>
                            <p class="work">придпринематель, ООО "Алюнест" тел. 8(918) 450 47 96</p>
                            <p class="title">Решили искать новые рынки получения заказов </p>
                            <p class="text">Заключили договор с «Си тендер» начали работу. Теперь выигрываем торги и получаем новые заказы. Всю работу за тебя делает компания, нам нужно только дать цену, это экономит на сотрудниках и экономит свое время. Оплата только за выигранные тендеры, т. е. выиграл – заплатил, не выиграл – не заплатил )) а по факту получается, что за подготовку тендера платит сам заказчик, так как мы закладываем услуги «Си тендер» в цену контракта))</p>

                        </div>

                        <div class="item">
                            <div class="avatar">
                                <img src="../images/Andrew.png">
                            </div>
                            <p class="name">Павел Герасимов</p>
                            <p class="work">придпринематель, ООО «ЖилРемСтрой» тел. 8-918-435-13-18</p>
                            <p class="title">В «Ctender» предложили платить проценты за выигрыш
                            </p>
                            <p class="text">Сотрудничаем с этой компанией уже более года, ребята отрабатывают себя на все 100%
                                Документы готовят быстро и качественно, а это самое главное, так как иногда попадаются такие Заказчики, которые готовы придраться к любой запятой, лишь бы отстранить от тендера не угодных им участников, но и такие ситуации решаются специалистами из «Ctender», но уже в ФАСе.
                            </p>
                        </div>

                        <div class="item">
                            <div class="avatar">
                                <img src="../images/Andrew.png">
                            </div>
                            <p class="name">Юлия Наумкина</p>
                            <p class="work">придпринематель, ИП Наумкина Ю.В .тел. 8-978-709-77-93
                            </p>
                            <p class="title">С компанией "С Тender" мы сотрудничаем в течение года, являясь активными участниками торгов, и совместно одержали уже немало побед</p>
                            <p class="text">В связи со вступлением Республики Крым и города Севастополя в состав Российской Федерации, субъекты предпринимательства столкнулись с необходимостью сориентироваться в новой для нас законодательной базе.
                                Спасибо вам за то, что своим общением вы вызываете только положительные эмоции, за индивидуальный подход к клиенту, за доброжелательность и желание в любой момент прийти на помощь!
                            </p>
                        </div>

                        <div class="item">
                            <div class="avatar">
                                <img src="../images/Andrew.png">
                            </div>
                            <p class="name">Александр Шерешевский</p>
                            <p class="work">придпринематель, ООО «НПСТЦ» тел. 8-495-999-48-25</p>
                            <p class="title">Сначала были сомнения по поводу обращения в компанию по сопровождению тендеров, тем более, когда эта компания находится в другом городе</p>
                            <p class="text">Ребята из «Ctender» предложили так сказать «тест-драйв» своих услуг, чтобы можно было понять как они работают и оценить качество удалённого обслуживания. С момента подготовки первого тендера прошло уже довольно много времени. До сих пор работаем вместе… Даже если сроки поджимают берутся за работу и доводят её до конца. Да и условия по оплате довольно интересные  – платим проценты по выигранным контрактам.</p>
                        </div>
                    </div>



                </div>

                <a  href="#carousel_1" role="button" data-slide="prev">
                        <span  aria-hidden="true"><img src="../images/arrowNext.png" style="    opacity: 1;
           opacity: 1;
        position: absolute;
        margin-top: -307px;
        margin-left: -8px;
        transform: rotate(180deg);
        width: 70px;"></span>

                </a>
                <a href="#carousel_1" role="button" data-slide="next">
                    <span ><img src="../images/arrowNext.png" style=" opacity: 1;
        position: absolute;
        margin-top: -282px;
        width: 70px;
        margin-left: 500px;"></span>
                </a>
            </div>
        </div>







        <div id="block11">


            <div style="    width: 1020px;
                            background: #EBEBEB;
                            margin: auto;
                            height: 100%;">
                <p style=" padding-top: 43px;
        font-size: 34px;
        font-weight: 600;
        color:#000000;
        margin-left: calc(50% - 247px);
        font-family: Exo2SemiBoldCondensed;
        width: 493px;" align="center">Наши благодарности</p>
                <br>
                <div id="carousel_2" class="carousel slide"  data-interval="false">
                    <div class="carousel-inner" role="listbox" style="margin-top: 23px">
                        <div class="item active">
                            <img src="../images/dip/Агамалян.png" style="width: 200px;height: 300px"  ng-click="clickToOpenDip('modalDip')">
                            <img src="../images/dip/Русь-ТВ.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip1')">
                            <img src="../images/dip/Пакета.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip2')">

                        </div>

                        <div class="item">
                            <img src="../images/dip/ИдельТехно.jpg" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip3')">
                            <img src="../images/dip/Мегаполис.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip4')">
                            <img src="../images/dip/Наумкина.jpg" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip5')">
                        </div>

                        <div class="item">
                            <img src="../images/dip/НПСТЦ.jpg" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip6')">
                            <img src="../images/dip/Анта-С.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip7')">
                            <img src="../images/dip/ЖРС.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip8')">
                        </div>

                        <div class="item">
                            <img src="../images/dip/Алюнест.jpg" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip9')">
                            <img src="../images/dip/Солевик.jpg" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip10')">
                            <img src="../images/dip/ЮжныйМост.png" style="width: 200px;height: 300px" ng-click="clickToOpenDip('modalDip11')">
                        </div>
                    </div>
                    <a  href="#carousel_2" role="button" data-slide="prev">
                        <span  aria-hidden="true"><img src="../images/arrowNext.png" style="    opacity: 1;
         opacity: 1;
        position: absolute;
        margin-top: -195px;
        margin-left: -37px;
        transform: rotate(180deg);
        width: 70px;"></span>

                    </a>
                    <a href="#carousel_2" role="button" data-slide="next">
                    <span ><img src="../images/arrowNext.png" style="    opacity: 1;
        position: absolute;
        margin-top: -170px;
        width: 70px;
        margin-left: 983px;"></span>
                    </a>
                </div>
            </div>

        </div>
        <div id="block12">
            <div class="map" style="display: inline-block"></div>
            <div style="display: inline-block;vertical-align: top">
                <p class="title">Наша география</p>
                <p class="subTitle">Мы успешно обслуживаем</p>
                <div style="margin-left: 7px;">
                    <div class="greenRing"><p>200<sup>+</sup></p></div>
                    <div class="greenRing"><p>36</p></div>
                    <div class="greenRing"><p>10</p></div>
                </div>
                <div class="greenRingText">
                    <p>Копаний из</p>
                    <p>городов и населенных пунктов в</p>
                    <p>регионах России</p>
                </div>
                <div class="procent">
                    <p>92%</p>
                    <p>из них - наши постоянные клиенты</p>
                </div>
                <button class="application" ng-click="clickToOpen()">Присоединиться</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="info">
            <div class="logo">
                <div style="display: inline-block">
                    <img src="../images/logo.jpg" >
                </div>

                <div class="logoText">
                    <p>Сопровождение тендеров</p>
                    <p>с оплатой за выигрыш</p>
                </div>
            </div>
            <div class="number">
                <p class="numberNum">8 (800) 505-10-42</p>
                <a style="font-size:10px" ng-click="clickToOpen()">бесплатная консультация</a>
            </div>
        </div>
    </div>
</div>